body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #555b69;
    color: #fff;
}

header {
    background-color: #555b69;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
}

.link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

.link ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    
}

.link ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.link ul li a:hover {
    color: #ccc;
    transform: scale(1.1);
}

.link ul li a:hover::after {
    width: 100%;
    left: 0;
    background-color: #ccc;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 10px 0;
}

header h1 {
    margin: 20px 0 0;
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    text-align: center;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.nuestro-equipo {
    padding: 50px 20px;
    background-color: #f8f4ec;
    color: #333;
    text-align: center;
}

.nuestro-equipo h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.nuestro-equipo p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.equipo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miembro {
    text-align: center;
    margin: 20px;
    flex-basis: 200px;
}

.miembro img {
    width: 220px;
    height: 300px;
    object-fit: cover;
}

.miembro.arley img {
    width: 240px;
    height: 320px;
}

.miembro.manuel img {
    width: 200px;
    height: 280px;
}

.miembro.kelis img {
    width: 220px;
    height: 300px;
}

.miembro.tu img {
    width: 260px;
    height: 340px;
}

.miembro .info {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-top: 10px;
}

.miembro h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    margin: 0;
}

.miembro p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 5px 0 0;
    color: #666;
}

.nosotros {
    padding: 50px 20px;
    background-color: #555b69;
    color: #000000;
    text-align: center;
}

.nosotros h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.nosotros .esencia {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.nosotros .descripcion {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 800px;
}
.contacto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.contact-content h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

#phoneNumber {
    cursor: pointer;
    position: relative;
    color: #000000; 
    transition: color 0.3s ease;
}

#phoneNumber:hover {
    color: #00ff00; 
}

#phoneNumber::after {
    content: "Copiar";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
    font-size: 0.9rem;
}

#phoneNumber:hover::after {
    opacity: 1;
}

/* Ajustes generales para pantallas pequeñas */
@media (max-width: 768px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-left h2 {
        font-size: 1rem;
    }

    .link ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .link ul li {
        display: inline;
        margin: 0 10px;
    }

    .link ul li a {
        font-size: 0.9rem;
    }

    header h1 {
        font-size: 2rem;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .logo {
        position: static;
        margin: 20px 0;
    }

    .nuestro-equipo h2 {
        font-size: 2rem;
    }

    .nuestro-equipo p {
        font-size: 1rem;
    }

    .equipo {
        flex-direction: column;
        align-items: center;
    }

    .miembro {
        margin: 20px 0;
    }

    .nosotros h2 {
        font-size: 2rem;
    }

    .nosotros .esencia {
        font-size: 1rem;
    }

    .nosotros .descripcion {
        font-size: 1rem;
    }

    .contacto {
        width: 90%;
        max-width: 90%;
        padding: 10px;
    }
}

